In [12]:
class person:
    def __init__(self,fname,lname):
        self.firstname=fname
        self.lastname=lname

    def y(self):
        print(self.firstname,self.lastname)

k = person("abhinaw","singh")
k.y()

abhinaw singh

In [13]:
grocery =["apple","pen","kurkure"]

grocery.append("rice")
print(grocery)

['apple', 'pen', 'kurkure', 'rice']

In [14]:
name="abhinaw"
course="data science"
college="besant Technologies"
print("name",name,"course",course,"college",college)
print(f"name {name} course {course} college {college}")
print("name {} course {} college {} ".format(name,course,college))

name abhinaw course data science college besant Technologies
name abhinaw course data science college besant Technologies
name abhinaw course data science college besant Technologies

In [ ]:
#swapping of two number
x=12
y=21
x,y=y,x
print(x,y)

conditional statements
if,else,elif
* if one condition get verified rest of the condition are skipped
we can execute the code also like 
if->else->if->else->if->else

In [ ]:
a=18
if(a<18):
    print("under 18")
elif a==18:
    print("you're 18")
else:
    print("above 18")

In [ ]:
course="science"
if course=="science":
    print("interested in science")
elif course=="commerce":
    print("interested in commerce")
else:
    print("interested in arts")

Questions 
1.write a program to print greater number between two or three number .
2.print the age of user
3.tip calculator
4.bmi calculator

In [ ]:
a=12
b=13
c=14
if(a>b and a>c):
    print("a")
elif(b>a and b>c):
    print("b")
else:
    print("c")

In [ ]:
id=1221
pwd="Aksi"
if(id!=1221):
    print("id is incorrect")
elif(pwd!="Aks"):
    print("password is incorrect")
elif(id==1221 and pwd=="Aks"):
    print("login success")

In [ ]:
#question number 2
from datetime import datetime
birth_year=int(input("enter your age"))
current_year=2025
age=current_year-birth_year
print(f"your age is {age}")

In [ ]:
#question number 3
bill_amt=float(input("enter the bill amt"))
tip_percentage=float(input("enter the tip percentage"))
tip=(bill_amt*tip_percentage)/100
total=bill_amt+tip
print(f"your bill with tip is {total}")

your bill with tip is 13200.0

#need to revise
range -> sequence of number 
range(start,stop,step)

In [ ]:
print(list(range(7)))
print(list(range(0,20,2)))

[0, 1, 2, 3, 4, 5, 6]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

Loops

In [18]:
for i in range(10):
    if(i%2==0):
        print(i)

0
2
4
6
8

In [28]:
num=0
while num<=10:
    if num%2!=0:
        print(num)
    num+=1

1
3
5
7
9

python
python
python